
/* =============================================================================
   My CSS
   ========================================================================== */

canvas{
  display:block;
}

/* ---- particles.js container ---- */

#header-particle{
  position: relative;
  width: 100%;
  height: 75%;
}

#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #191D32; /* --------------------- BACKGROUND COLOR TO CHANGE --------------- */
  background-image: url('');
}

#above-particle{
  z-index: 1;
  text-align: center;
  position: relative;
  margin: auto;
  width: auto;
  top: 30%;
}

#above-particle h1 {
  font-size: 41px;
  letter-spacing:10px;
  margin: 40px 0 10px;
  font-weight: 900;
  color: #fff;
}

#above-particle h2 {
  font-size: 30px;
  letter-spacing: 5px;
  margin: 0px 0 10px;
  font-weight: 900;
  color: #cad0ff;
}

#above-particle h1 span {
  color: #343640;
  display: inline-block;
}

#above-particle p {
  font-family: Avenir, Raleway ;
  font-size: 26px;
  font-weight: 400;
  color: #f7dcfa;
}